body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfcfcf;
}

.timeline {
    position: relative;
    max-width: 800px;

    padding: 30px;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #00bfff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-content {
    padding: 20px;
    background: white;
    position: relative;
    border-radius: 6px;
}

.timeline-content h2 {
    margin: 0;
    padding: 0;
    color: #333;
}

.timeline-content p {
    margin: 10px 0 0;
    color: #666;
}

.p-timeline {
    font-size: 0.8rem;
}

.h2-timeline {
    font-size: 1.1rem;
}

.flex-container {
    margin-left: 5%;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens no contêiner */
}

.h1-timeline {
    font-size: 4rem;
}

.skills-sec {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.h1-one {
    text-align: center;
}

.p-one {
    text-align: center;
    line-height: 4px;
}

.h3-contato {
    margin-left: 18%;
}

.p-contato {
    margin-left: 20%;
}

.progress {
    margin-bottom: 2%;
}

.timeline-sec {
    align-items: center;
}

.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.card1{
    width: calc(33.3% - 30px);
    box-sizing: border-box;
    background-color: #003049;
    padding: 20px;
    border: 5px, outset;
    border-radius: 15px;
}

.img_card{
    border-radius: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.txt_cards{
    color: white;
    text-align: center;
    font-family: 'Pixelify Sans';
}

.p_cards{
    margin-top: 1%;
    font-family: 'Ubuntu';
    color: white;
}